<section id="clients">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>clients</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="portfolio-holder">
            <div id="filters" class="group-selectors">
              <a href="#all" data-filter="*" class="active">all</a>
              <a href="#marketing" data-filter=".marketing">marketing</a>
              <a href="#streaming" data-filter=".streaming">streaming</a>
              <a href="#entertainment" data-filter=".entertainment">entertainment</a>
              <a href="#education" data-filter=".education">education</a>
            </div>

            <div id="portfolio-grid" class="row">
              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing">
                <a data-rel="prettyphoto" href="/assets/portfolio/work01.jpg">
                  <img alt="Aquipa Partner" src="/assets/portfolio/work01.jpg" width="350" />
                </a>
                <div class="holder">
                  <div class="paper  has-shadow title">
                    <div class="content">
                      Aquipa Partner
                    </div>
                  </div>

                  <div class="paper  has-shadow category">
                    <div class="content">
                      customer acquisition platform
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item streaming entertainment">
                <a data-rel="prettyphoto" href="/assets/portfolio/work02.jpg">
                  <img alt="Spotify" src="/assets/portfolio/work02.jpg" width="350" />
                </a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      Spotify
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      music streaming service
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing entertainment">
                <a data-rel="prettyphoto" href="/assets/portfolio/work03.jpg">
                  <img alt="Yahoo!" src="/assets/portfolio/work03.jpg" width="350" />
                </a>

                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      yahoo!
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      search engine &amp; web portal
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                <a data-rel="prettyphoto" href="/assets/portfolio/work04.jpg">
                  <img alt="Astrology" src="/assets/portfolio/work04.jpg" width="350" />
                </a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      astrology
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      live astrology services
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item streaming entertainment">
                <a data-rel="prettyphoto" href="/assets/portfolio/work05.jpg">
                  <img alt="Hulu" src="/assets/portfolio/work05.jpg" width="350" />
                </a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      hulu
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      video streaming service
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing entertainment">
                <a data-rel="prettyphoto" href="/assets/portfolio/work06.jpg">
                  <img alt="NBC Universal" src="/assets/portfolio/work06.jpg" width="350" />
                </a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      nbc universal
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      media and entertainment
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item education">
                <a data-rel="prettyphoto" href="/assets/portfolio/work07.jpg">
                  <img alt="English Up" src="/assets/portfolio/work07.jpg" width="350" />
                </a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      English Up
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      live virtual classroom
                    </div>
                  </div>
                </div>
              </figure>


              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                <a data-rel="prettyphoto" href="/assets/portfolio/work08.jpg">
                  <img alt="Exit Reality" src="/assets/portfolio/work08.jpg" width="350" />
                </a>

                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      Exit Reality
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      virtual reality
                    </div>
                  </div>
                </div>
              </figure>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
