<section id="contact">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>contact</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row row-contact">

        <div class="col-xs-12 col-md-8"> 
          <div class="contact-form-holder">
            <div class="message-box"></div>
            <%= form_tag(contact_index_path, class: 'contact-form', id: 'contact-form', remote: true, authenticity_token: true) do %>
              <div class="col-xs-12 col-sm-6 no-margin">
                <div class="control-group">
                  <div class="controls">
                    <input  id="cname" data-placeholder="Your Name*" name="name" size="25" class="le-input required col-xs-12" />
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 no-margin">
                <div class="control-group">
                  <div class="controls">
                    <input id="cemail" data-placeholder="Your Email*" name="email" class="le-input required email col-xs-12" />
                  </div>
                </div>
              </div>

              <div class="col-xs-12  no-margin">
                <div class="control-group">
                  <div class="controls">
                    <input  id="subject" data-placeholder="Subject" name="subject" size="25" class="le-input col-xs-12" />
                  </div>
                </div>
              </div>

              <div class="col-xs-12 no-margin">
                <div class="control-group">
                  <div class="controls">
                    <textarea id="ccomment" class="le-input col-xs-12 no-margin" name="message" rows="9" cols="5" data-placeholder="Message" ></textarea>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 no-margin">
                <div class="button-holder">
                  <input class="submit le-btn big" type="submit" value="Send" />
                </div>
                <div id="loading" class="pull-right">
                  <img alt="Loading..." src="/assets/loader.gif" />
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-md-4"> 
          <div class="contact-info">

            <!--ul>
              <li>
                <label>timezone ➭</label> UTC +1
              </li>
              <li>
                <label>skype ➭</label> <a href="skype:ninoslav.milenovic">ninoslav.milenovic</a>
              </li>
              <li style="text-decoration: line-through;">
                <label>email ➭</label> <a href="mailto:tea@rubyengineer.com">tea@rubyengineer.com</a>
              </li>
              <li>
                <label>email ➭</label> <a href="mailto:coffee@rubyengineer.com">coffee@rubyengineer.com</a>
              </li>
            </ul-->

            <div class="social-icons">
              <ul>
                <li>
                  <a class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=227652081"></a>
                </li>
                <li>
                  <a class="fa fa-github" href="https://github.com/pythogorian"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="https://twitter.com/pythogorian"></a>
                </li>
                <li>
                  <a class="fa fa-google-plus" href="https://google.com/+NinoslavMilenović"></a>
                </li>
                <li>
                  <a class="fa fa-youtube" href="https://www.youtube.com/user/ninosempire"></a>
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
