<hr class="le-hr">

<section id="education">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>education</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="timeline-holder wow bounceInUp"> 
            <div class="timeline-head event-head">
              <div class="icon">
                <i class="fa fa-university"></i>
              </div>
            </div>

            <div class="timeline-body">
              <div class="event-item timeline-item">
                <div class="event-title left">
                  <h1>information technology</h1>
                  <h4>undergraduate degree</h4>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Focused on principles of software engineering, advanced algorithms and in depth database design. Received an introduction to basic theory and applied mathematics. Acquired strong critical thinking skills.
                  </p>
                </div>
              </div>

              <div class="event-item timeline-item">
                <div class="event-title right">
                  <h1>communications technology</h1>
                  <h4>postgraduate degree</h4>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Focused on expanding skills in creating, planning and developing communication systems for businesses. Acquired knowledge to integrate the latest technology in web, multimedia and telecommunication systems, and performed research in the field.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
