<hr class="le-hre">

<section id="experience">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>experience</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="timeline-holder wow bounceInUp">
            <div class="timeline-head event-head">
              <div class="icon">
                <i class="fa fa-suitcase"></i>
              </div>
            </div>
            <div class="timeline-body">
              <div class="event-item timeline-item">
                <div class="event-title right">
                  <h1>technical lead</h1>
                  <h4>aquipa partner ltd <small>2013-present</small></h4>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Aquipa Partner enables companies reaching their full marketing potential fast through applying their unique global business network. 
                    Nino's role consists of establishing and supervising the software development process, setting short-term objectives, assessing progress, conducting code reviews, establishing an application deployment process, monitoring application performance and working with founders to develop and refine user stories and translate them into compelling products and features.
                  </p>
                </div>
              </div>

              <div class="event-item timeline-item">
                <div class="event-title left">
                  <h1>mentor &amp; lecturer</h1>
                  <h4>rails girls serbia <small>2013-present</small></h4>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Rails Girls is serbian, <strong>volunteer-run non-profit community</strong> dedicated to giving women the tools to create awesome web applications.
                    He is committed to help learners of all skill levels, from beginners tackling early challenges to experienced developers who need help on specific problems.
                  </p>
                </div>
              </div>

              <div class="event-item timeline-item">
                <div class="event-title right">
                  <h1>rails consultant</h1>
                  <h4>international <small>2011-present</small></h4>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Nino performs devops and server wrangling on cloud-scale infrastructures, deploys amazing web applications with Ruby on Rails and had an opportunity to collaborate with some of the biggest names in the industry such as <strong>Yahoo!, Spotify, Hulu, Astrology, DigitalEducation and ExitReality.</strong>
                  </p>
                </div>
              </div>

              <div class="event-item timeline-item">
                <div class="event-title left">
                  <h1>lead developer</h1>
                  <h4>kolosek it llc <small>2011-2013</small></h4>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Kolosek IT is a Ruby on Rails development shop focused on design, development, testing, and deployment of cloud, social and mobile applications. Nino was working on a multiple projects and had roles ranging from design, development, test and deployment to <strong>critical optimizations</strong> and integrations with third-party services.
                  </p>
                </div>
              </div>

              <div class="event-item timeline-item">
                <div class="event-title right">
                  <h1>ruby engineer</h1>
                  <h4>nbcuniversal, inc <small>2011-2013</small></h4>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Contributed in building the web infrastructure for one of the world’s leading media and entertainment companies in the development, production and marketing of entertainment, news and information to a global audience. 
                  </p>
                </div>
              </div>

              <div class="event-item timeline-item">
                <div class="event-title left">
                  <h1>lead developer</h1>
                  <h4>tonet llc <small>2009-2011</small></h4>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Designed, developed and deployed a Management Information System based on Data Warehouse as part of Infrastructural Information System for natural gas distribution along with other internal tools such as Mass Bill Printing software, SMS gateway and BI reports generator.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
