<header id="home">
  <div class="head-image bg-image" data-bg-image="<%= image_path('head-image.jpg') %>">
    <div class="avatar wow bounceInDown" >
        <%= image_tag('avatar.jpg') %>
    </div>
  </div>

  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <div class="social-icons">
        <ul>
          <li>
            <a class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=227652081"></a>
          </li>
          <li>
            <a class="fa fa-github" href="https://github.com/pythogorian"></a>
          </li>
          <li>
            <a class="fa fa-twitter" href="https://twitter.com/pythogorian"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 nav-menu top-menu-holder">
    <nav class="hidden-xs visible-lg ">
      <ul class="nav">
        <li class="active">
          <a href="#home">home</a>
        </li>
        <li>
          <a href="#profile">profile</a>
        </li>
        <li>
          <a href="#education">education</a>
        </li>
        <li>
          <a href="#experience">experience</a>
        </li>
        <li>
          <a href="#skills">skills</a>
        </li>
        <li>
          <a href="#clients">clients</a>
        </li>
        <% if available_posts? %>
          <li>
            <a href="#blog">blog</a>
          </li>
        <% end %>
        <li>
          <a href="#contact">contact</a>
        </li>
      </ul>
    </nav>

    <select class="top-drop-menu nav visible-md visible-sm visible-xs hidden-lg">
      <option value="#home" selected="selected">
        Home
      </option>

      <option value="#profile">
        Profile
      </option>

      <option value="#education">
        Education
      </option>

      <option value="#experience">
        Experience
      </option>

      <option value="#skills">
        Skills
      </option>

      <option value="#clients">
        clients
      </option>

      <option value="#contact">
        Contact
      </option>
    </select>
  </div>
</header>
