<section id="info" class="big-name">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>Nino</h1>
      <div class="short-tag">
        ruby on rails engineer
      </div>
    </div>
  </div>
  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <div class="le-paragraph">
            <p>
              Nino has been a <strong>software engineer and technical lead</strong> for 6+ years. He speaks both biz and tech fluently and loves the crossroads of software &amp; marketing. A deep understanding of full stack web development allows him to easily tackle all manner of web related projects. He loves optimizing online sales funnels and architecting apps in the marketing space. If you’re selling a software service online, it’s hard not to love him.
            </p>
            <p>
              He is also an open-source enthusiast and mentor at Rails Girls Serbia. <strong>Passionate about start-ups</strong> and a technical leader that can help build the next hot venture in a Ruby environment from the ground up.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="tabled-info-holder">
            <ul class="info-holder">
              <li>
                <div class="info-item">
                  <i class="fa fa-envelope"></i>
                  <span>coffee@rubyengineer.com</span>
                </div>
              </li>
            </ul>

            <ul class="info-holder">
              <li>
                <div class="info-item">
                  <i class="fa fa-map-marker"></i>
                  <span>Europe</span>
                </div>
              </li>
            </ul>

            <ul class="info-holder">
              <li>
                <div class="info-item">
                  <i class="fa fa-clock-o"></i>
                  <span>UTC+1</span>
                </div>
              </li>
            </ul>

            <div class="social-icons small">
              <ul>
                <li>
                  <a class="fa fa-linkedin" href="https://www.linkedin.com/in/ninoslavmilenovic"></a>
                </li>
                <li>
                  <a class="fa fa-github" href="https://github.com/rubyengineer"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="https://twitter.com/ruby_engineer"></a>
                </li>
                <li>
                  <a class="fa fa-google-plus" href="https://google.com/+NinoslavMilenović"></a>
                </li>
                <li>
                  <a class="fa fa-youtube" href="https://www.youtube.com/user/ninosempire"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
