<hr class="le-hre">

<section id="profile" >
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>profile</h1>
    </div>
  </div>
  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <div class="timeline-holder wow bounceInUp">
            <div class="timeline-head">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="timeline-body">

              <div class="profile-item timeline-item">
                <div class="icon-item left">
                  <div class="circular-icon">
                    <i class="fa fa-child"></i>
                  </div>
                </div>
                <div class="profile-content timeline-content right">
                  <label>full name</label>
                  <div class="value">Ninoslav Milenović</div>
                </div>
              </div>

              <div class="profile-item timeline-item">
                <div class="icon-item right">
                  <div class="circular-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                </div>
                <div class="profile-content timeline-content left">
                  <label>email address</label>
                  <div class="lowercase value small">coffee@rubyengineer.com</div>
                </div>
              </div>

              <div class="profile-item timeline-item">
                <div class="icon-item left">
                  <div class="circular-icon">
                    <i class="fa fa-birthday-cake"></i>
                  </div>
                </div>
                <div class="profile-content timeline-content right">
                  <label>birthday</label>
                  <div class="value">30/07/1989</div>
                </div>
              </div>

              <div class="profile-item timeline-item">
                <div class="icon-item right">
                  <div class="circular-icon">
                    <i class="fa fa-skype"></i>
                  </div>
                </div>
                <div class="profile-content timeline-content left">
                  <label>Skype</label>
                  <div class="value">ninoslav.milenovic</div>
                </div>
              </div>

              <div class="profile-item timeline-item">
                <div class="icon-item left">
                  <div class="circular-icon left">
                    <i class="fa fa-code"></i>
                  </div>
                </div>
                <div class="profile-content timeline-content right">
                  <label>Availability</label>
                  <div class="value">Part-Time Remote</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="interests-holder">
            <div class="interests-row medium">
              <ul>
                <li class="wow bounceInDown" data-wow-delay="0.1s">
                  <i class="fa fa-code"></i>
                  <span>Coding</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.2s">
                  <i class="fa fa-plane"></i>
                  <span>Travel</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.3s">
                  <i class="fa fa-paint-brush"></i>
                  <span>Art</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.4s">
                  <i class="fa fa-car"></i>
                  <span>Track</span>
                </li>
              </ul>
            </div>
            <div class="interests-row big">
              <ul>
                <li class="wow bounceInDown" data-wow-delay="0.6s">
                  <i class="fa fa-camera"></i>
                  <span>Photos</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.7s">
                  <i class="fa fa-bicycle"></i>
                  <span>Cycling</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.5s">
                  <i class="fa fa-music"></i>
                  <span>Music</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.8s">
                  <i class="fa fa-book"></i>
                  <span>Books</span>
                </li>
              </ul>
            </div>

            <div class="title wow fadeIn"> 
              <h1>hobbies &amp; interests</h1>
            </div>
            <div class="interests-row big">
              <ul>
                <li class="wow bounceInDown" data-wow-delay="0.3s">
                  <i class="fa fa-graduation-cap"></i>
                  <span>Science</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.4s">
                  <i class="fa fa-coffee"></i>
                  <span>Coffee</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.1s">
                  <i class="fa fa-flag"></i>
                  <span>Culture</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.3s">
                  <i class="fa fa-paw"></i>
                  <span>Dogs</span>
                </li>
              </ul>
            </div>

            <div class="interests-row medium">
              <ul>
                <li class="wow bounceInDown" data-wow-delay="0.5s">
                  <i class="fa fa-heart"></i>
                  <span>Fitness</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.6s">
                  <i class="fa fa-leaf"></i>
                  <span>Nature</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.7s">
                  <i class="fa fa-pencil"></i>
                  <span>Writing</span>
                </li>
                <li class="wow bounceInDown" data-wow-delay="0.8s">
                  <i class="fa fa-cutlery"></i>
                  <span>Food</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
