<hr class="le-hre">

<section id="skills">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>skills</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="timeline-holder wow bounceInUp">
            <div id="skills-head" class="timeline-head">
              <div class="icon">
                <i class="fa fa-tasks"></i>
              </div>
            </div>
            <div class="timeline-body">
              <div class="skill-holder timeline-item">
                <div class="skill-item left">
                  <div class="skill" data-text="Top 5%" data-info="Ruby" data-percent="96" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Released a number of gems and API wrappers over the years. Among others, contributed to Rails, Grape, Devise and Factory Girl.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item right">
                  <div class="skill" data-text="Top 5%" data-info="Rails" data-percent="96" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    <strong>30+ projects delivered</strong> over the years. Working on a daily basis with tools like Rspec, Grape, Devise and ActiveAdmin. Can be seen on tech conferences and meetups.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item left">
                  <div class="skill" data-text="Top 10%" data-info="JavaScript" data-percent="91" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Experienced in developing and integrating solutions with web services APIs using CoffeeScript, jQuery, AngularJS and Ember.js across multiple projects. 
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item right">
                  <div class="skill" data-text="Top 10%" data-info="Databases" data-percent="91" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Skilled in architecting and maintaining relational and noSQL databases. Designed and built multiple applications with MySQL, PostgreSQL, MongoDB, Redis and ElasticSearch.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item left">
                  <div class="skill"  data-text="Top 15%" data-info="Deployment" data-percent="86" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Deploying highly-available, monitored cloud installations to Heroku, RackSpace, AWS, and Digital Ocean. Developing recipes to consistently provision numerous server-side packages. Using tools like Capistrano, Chef and Codeship.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item right">
                  <div class="skill"  data-text="Top 25%" data-info="UI" data-percent="76" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Experienced in developing responsive HTML5/CSS3 pages using Twitter Bootstrap and ZurbFoundation. Interpreting the material comming from graphical and UX designers.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
