<hr class="le-hr">

<section id="skills">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>skills</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="timeline-holder wow bounceInUp">
            <div id="skills-head" class="timeline-head">
              <div class="icon">
                <i class="fa fa-tasks"></i>
              </div>
            </div>
            <div class="timeline-body">
              <div class="skill-holder timeline-item">
                <div class="skill-item left">
                  <div class="skill" data-text="95%" data-info="Ruby" data-percent="95" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Over the years he has released a number of gems and API wrappers. Among others, contributed to <strong>Rails, Rspec, factory_girl, Grape and bitcoin-ruby.</strong>
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item right">
                  <div class="skill" data-text="95%" data-info="Rails" data-percent="95" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    <strong>30+ projects delivered</strong> over the years. He works with Rspec, better_errors, Pry, Grape, Devise, Tire, etc. on daily basis. You can usually meet him on tech conferences and meetups.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item left">
                  <div class="skill" data-text="85%" data-info="JavaScript" data-percent="85" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Had experience developing and integrating with web services APIs and used jQuery, CoffeeScript, AngularJS, Backbone.js and Ember.js across multiple projects. 
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item right">
                  <div class="skill" data-text="85%" data-info="Databases" data-percent="85" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Had experience in architecting and maintaining relational and noSQL databases. Designed and built multiple applications with MySQL, PostgreSQL, MongoDB and ElasticSearch.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item left">
                  <div class="skill"  data-text="85%" data-info="Deployment" data-percent="85" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content right">
                  <p>
                    Deployed highly-available, monitored cloud installations to RackSpace, AWS, and Digital Ocean. Managed and developed recipes to consistently provision and deploy numerous server-side packages. He is using Capistrano, Chef, Semaphore, etc.
                  </p>
                </div>
              </div>

              <div class="skill-holder timeline-item">
                <div class="skill-item right">
                  <div class="skill"  data-text="75%" data-info="Graphics" data-percent="75" data-fill="#272425"></div>
                </div>

                <div class="event-content timeline-content left">
                  <p>
                    Nino has experience developing responsive web pages using Twitter Bootstrap and ZurbFoundation.
                    He is able to interpret most of the graphical and interaction design material comming from graphical designers and has some good Adobe Photoshop skills due to his Photography background.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
