<div class="wrapper">
  <div class="container">

    <header id="home">

      <div class="head-image bg-image" data-bg-image="/assets/head-image.jpg">
        <div class="avatar wow bounceInDown" >
          <img alt="Avatar" src="/assets/avatar.jpg" />
        </div>
      </div>

      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <div class="social-icons">
            <ul>
              <li>
                <a class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=227652081"></a>
              </li>
              <li>
                <a class="fa fa-github" href="https://github.com/pythogorian"></a>
              </li>
              <li>
                <a class="fa fa-twitter" href="https://twitter.com/pythogorian"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12  nav-menu top-menu-holder">
        <nav class="hidden-xs visible-lg ">
          <ul class="nav">
            <li class="active">
              <a  href="#home">home</a>
            </li>
            <li>
              <a  href="#profile">profile</a>
            </li>
            <li>
              <a  href="#education">education</a>
            </li>
            <li>
              <a  href="#experience">experience</a>
            </li>
            <li>
              <a  href="#skills">skills</a>
            </li>
            <li>
              <a  href="#clients">clients</a>
            </li>
            <!--li>
              <a  href="#blog">blog</a>
            </li-->
            <li>
              <a  href="#contact">contact</a>
            </li>
          </ul>
        </nav>

        <select class="top-drop-menu nav visible-md visible-sm visible-xs hidden-lg">
          <option value="#home" selected="selected">
            Home
          </option>

          <option value="#profile">
            Profile
          </option>

          <option value="#education">
            Education
          </option>

          <option value="#experience">
            Experience
          </option>

          <option value="#skills">
            Skills
          </option>

          <option value="#clients">
            clients
          </option>

          <option value="#contact">
            Contact
          </option>
        </select>
      </div>

    </header>

    <section id="info" class="big-name">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>Nino</h1>
          <div class="short-tag">
            ruby on rails engineer
          </div>
        </div>
      </div>
      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <div class="le-paragraph">
                <p>
                  Nino has been a <strong>web developer, architect and tech lead</strong> for 5+ years. He speaks both biz and tech tongue fluently and he loves the crossroads of software &amp; marketing. A deep understanding of full stack web development allows him to easily tackle all manner of web related projects. He loves optimizing online sales funnels and architecting apps in the marketing space. If you’re selling a software service online, it’s hard not to love him.
                </p>
                <p>
                  He is also an open-source enthusiast and mentor at Rails Girls Serbia. <strong>Passionate about start-ups</strong> and a technical leader that can help build the next hot venture in a Ruby environment from the ground up.
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-md-5">
              <div class="tabled-info-holder">
                <ul class="info-holder">
                  <li>
                    <div class="info-item">
                      <i class="fa fa-envelope"></i>
                      <span>coffee@rubyengineer.com</span>
                    </div>
                  </li>
                </ul>

                <ul class="info-holder">
                  <li>
                    <div class="info-item">
                      <i class="fa fa-map-marker"></i>
                      <span>Europe</span>
                    </div>
                  </li>
                </ul>

                <ul class="info-holder">
                  <li>
                    <div class="info-item">
                      <i class="fa fa-clock-o"></i>
                      <span>UTC +1</span>
                    </div>
                  </li>
                </ul>

                <div class="social-icons small">
                  <ul>
                    <li>
                      <a class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=227652081"></a>
                    </li>
                    <li>
                      <a class="fa fa-github" href="https://github.com/pythogorian"></a>
                    </li>
                    <li>
                      <a class="fa fa-twitter" href="https://twitter.com/pythogorian"></a>
                    </li>
                    <li>
                      <a class="fa fa-google-plus" href="https://google.com/+NinoslavMilenović"></a>
                    </li>
                    <li>
                      <a class="fa fa-youtube" href="https://www.youtube.com/user/ninosempire"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr">

    <section id="profile" >
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>profile</h1>
        </div>
      </div>
      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <div class="timeline-holder wow bounceInUp">
                <div class="timeline-head">
                  <div class="icon">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="timeline-body">

                  <div class="profile-item timeline-item">
                    <div class="icon-item left">
                      <div class="circular-icon">
                        <i class="fa fa-child"></i>
                      </div>
                    </div>
                    <div class="profile-content timeline-content right">
                      <label>full name</label>
                      <div class="value">Ninoslav Milenović</div>
                    </div>
                  </div>

                  <div class="profile-item timeline-item">
                    <div class="icon-item right">
                      <div class="circular-icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                    <div class="profile-content timeline-content left">
                      <label>email address</label>
                      <div class="lowercase value small">coffee@rubyengineer.com</div>
                    </div>
                  </div>

                  <div class="profile-item timeline-item">
                    <div class="icon-item left">
                      <div class="circular-icon">
                        <i class="fa fa-birthday-cake"></i>
                      </div>
                    </div>
                    <div class="profile-content timeline-content right">
                      <label>birthday</label>
                      <div class="value">30/07/1989</div>
                    </div>
                  </div>

                  <div class="profile-item timeline-item">
                    <div class="icon-item right">
                      <div class="circular-icon">
                        <i class="fa fa-skype"></i>
                      </div>
                    </div>
                    <div class="profile-content timeline-content left">
                      <label>Skype</label>
                      <div class="value">ninoslav.milenovic</div>
                    </div>
                  </div>

                  <div class="profile-item timeline-item">
                    <div class="icon-item left">
                      <div class="circular-icon left">
                        <i class="fa fa-code"></i>
                      </div>
                    </div>
                    <div class="profile-content timeline-content right">
                      <label>Availability</label>
                      <div class="value">Part-Time Remote</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6">
              <div class="interests-holder">
                <div class="interests-row medium">
                  <ul>
                    <li class="wow bounceInDown" data-wow-delay="0.1s">
                      <i class="fa fa-code"></i>
                      <span>Coding</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.2s">
                      <i class="fa fa-plane"></i>
                      <span>Travel</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.3s">
                      <i class="fa fa-paint-brush"></i>
                      <span>Art</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.4s">
                      <i class="fa fa-rocket"></i>
                      <span>Racing</span>
                    </li>
                  </ul>
                </div>
                <div class="interests-row big">
                  <ul>
                    <li class="wow bounceInDown" data-wow-delay="0.6s">
                      <i class="fa fa-camera"></i>
                      <span>Photos</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.7s">
                      <i class="fa fa-bicycle"></i>
                      <span>Cycling</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.5s">
                      <i class="fa fa-music"></i>
                      <span>Music</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.8s">
                      <i class="fa fa-book"></i>
                      <span>Books</span>
                    </li>
                  </ul>
                </div>

                <div class="title wow fadeIn"> 
                  <h1>hobbies &amp; interests</h1>
                </div>
                <div class="interests-row big">
                  <ul>
                    <li class="wow bounceInDown" data-wow-delay="0.3s">
                      <i class="fa fa-graduation-cap"></i>
                      <span>Science</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.4s">
                      <i class="fa fa-coffee"></i>
                      <span>Coffee</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.1s">
                      <i class="fa fa-flag"></i>
                      <span>Culture</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.3s">
                      <i class="fa fa-paw"></i>
                      <span>Dogs</span>
                    </li>
                  </ul>
                </div>

                <div class="interests-row medium">
                  <ul>
                    <li class="wow bounceInDown" data-wow-delay="0.5s">
                      <i class="fa fa-heart"></i>
                      <span>Fitness</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.6s">
                      <i class="fa fa-leaf"></i>
                      <span>Nature</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.7s">
                      <i class="fa fa-pencil"></i>
                      <span>Writing</span>
                    </li>
                    <li class="wow bounceInDown" data-wow-delay="0.8s">
                      <i class="fa fa-cutlery"></i>
                      <span>Food</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr">

    <section id="education">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>education</h1>
        </div>
      </div>

      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="timeline-holder wow bounceInUp"> 
                <div class="timeline-head event-head">
                  <div class="icon">
                    <i class="fa fa-university"></i>
                  </div>
                </div>

                <div class="timeline-body">
                  <div class="event-item timeline-item">
                    <div class="event-title left">
                      <h1>information technology</h1>
                      <h4>bachelor's degree</h4>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Focused on principles of software engineering, advanced algorithms and in depth database design. Received an introduction to basic theory and applied mathematics. Acquired strong critical thinking skills.
                      </p>
                    </div>
                  </div>

                  <div class="event-item timeline-item">
                    <div class="event-title right">
                      <h1>communications technology</h1>
                      <h4>master's degree</h4>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        Focused on expanding skills in creating, planning and developing communication systems for businesses. Acquired knowledge to integrate the latest technology in web, multimedia and telecommunication systems, and performed research in the field.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr">

    <section id="experience">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>experience</h1>
        </div>
      </div>

      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="timeline-holder wow bounceInUp">
                <div class="timeline-head event-head">
                  <div class="icon">
                    <i class="fa fa-suitcase"></i>
                  </div>
                </div>
                <div class="timeline-body">
                  <div class="event-item timeline-item">
                    <div class="event-title right">
                      <h1>technical lead</h1>
                      <h4>aquipa partner ltd <small>2013-present</small></h4>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        Aquipa Partner enables companies reaching their full marketing potential fast through applying their unique global business network. 
                        Nino's role consists of establishing and supervising the software development process, setting short-term objectives, assessing progress, conducting code reviews, establishing an application deployment process, monitoring application performance and working with founders to develop and refine user stories and translate them into compelling products and features.
                      </p>
                    </div>
                  </div>

                  <div class="event-item timeline-item">
                    <div class="event-title left">
                      <h1>mentor &amp; lecturer</h1>
                      <h4>rails girls serbia <small>2013-present</small></h4>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Rails Girls is serbian, <strong>volunteer-run non-profit community</strong> dedicated to giving women the tools to create awesome web applications.
                        He is committed to help learners of all skill levels, from beginners tackling early challenges to experienced developers who need help on specific problems.
                      </p>
                    </div>
                  </div>

                  <div class="event-item timeline-item">
                    <div class="event-title right">
                      <h1>rails consultant</h1>
                      <h4>international <small>2011-present</small></h4>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        Nino performs devops and server wrangling on cloud-scale infrastructures, deploys amazing web applications with Ruby on Rails and had an opportunity to collaborate with some of the biggest names in the industry such as <strong>Yahoo!, Spotify, Hulu, Astrology, DigitalEducation and ExitReality.</strong>
                      </p>
                    </div>
                  </div>

                  <div class="event-item timeline-item">
                    <div class="event-title left">
                      <h1>lead developer</h1>
                      <h4>kolosek it llc <small>2011-2013</small></h4>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Kolosek IT is a Ruby on Rails development shop focused on design, development, testing, and deployment of cloud, social and mobile applications. Nino was working on a multiple projects and had roles ranging from design, development, test and deployment to <strong>critical optimizations</strong> and integrations with third-party services.
                      </p>
                    </div>
                  </div>

                  <div class="event-item timeline-item">
                    <div class="event-title right">
                      <h1>ruby engineer</h1>
                      <h4>nbcuniversal, inc <small>2011-2013</small></h4>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        Contributed in building the web infrastructure for one of the world’s leading media and entertainment companies in the development, production and marketing of entertainment, news and information to a global audience. 
                      </p>
                    </div>
                  </div>

                  <div class="event-item timeline-item">
                    <div class="event-title left">
                      <h1>lead developer</h1>
                      <h4>tonet llc <small>2009-2011</small></h4>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Designed, developed and deployed a Management Information System based on Data Warehouse as part of Infrastructural Information System for natural gas distribution along with other internal tools such as Mass Bill Printing software, SMS gateway and BI reports generator.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr">

    <section id="skills">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>skills</h1>
        </div>
      </div>

      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="timeline-holder wow bounceInUp">
                <div id="skills-head" class="timeline-head">
                  <div class="icon">
                    <i class="fa fa-tasks"></i>
                  </div>
                </div>
                <div class="timeline-body">
                  <div class="skill-holder timeline-item">
                    <div class="skill-item left">
                      <div class="skill" data-text="95%" data-info="Ruby" data-percent="95" data-fill="#272425"></div>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Over the years he has released a number of gems and API wrappers. Among others, contributed to <strong>Rails, Rspec, factory_girl, Grape and bitcoin-ruby.</strong>
                      </p>
                    </div>
                  </div>

                  <div class="skill-holder timeline-item">
                    <div class="skill-item right">
                      <div class="skill" data-text="95%" data-info="Rails" data-percent="95" data-fill="#272425"></div>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        <strong>30+ projects delivered</strong> over the years. He works with Rspec, better_errors, Pry, Grape, Devise, Tire, etc. on daily basis. You can usually meet him on tech conferences and meetups.
                      </p>
                    </div>
                  </div>

                  <div class="skill-holder timeline-item">
                    <div class="skill-item left">
                      <div class="skill" data-text="85%" data-info="JavaScript" data-percent="85" data-fill="#272425"></div>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Had experience developing and integrating with web services APIs and used jQuery, CoffeeScript, AngularJS, Backbone.js and Ember.js across multiple projects. 
                      </p>
                    </div>
                  </div>

                  <div class="skill-holder timeline-item">
                    <div class="skill-item right">
                      <div class="skill" data-text="85%" data-info="Databases" data-percent="85" data-fill="#272425"></div>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        Had experience in architecting and maintaining relational and noSQL databases. Designed and built multiple applications with MySQL, PostgreSQL, MongoDB and ElasticSearch.
                      </p>
                    </div>
                  </div>

                  <div class="skill-holder timeline-item">
                    <div class="skill-item left">
                      <div class="skill"  data-text="85%" data-info="Deployment" data-percent="85" data-fill="#272425"></div>
                    </div>

                    <div class="event-content timeline-content right">
                      <p>
                        Deployed highly-available, monitored cloud installations to RackSpace, AWS, and Digital Ocean. Managed and developed recipes to consistently provision and deploy numerous server-side packages. He is using Capistrano, Chef, Semaphore, etc.
                      </p>
                    </div>
                  </div>

                  <div class="skill-holder timeline-item">
                    <div class="skill-item right">
                      <div class="skill"  data-text="75%" data-info="Graphics" data-percent="75" data-fill="#272425"></div>
                    </div>

                    <div class="event-content timeline-content left">
                      <p>
                        Nino has experience developing responsive web pages using Twitter Bootstrap and ZurbFoundation.
                        He is able to interpret most of the graphical and interaction design material comming from graphical designers and has some good Adobe Photoshop skills due to his Photography background.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr">

    <section id="clients">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>clients</h1>
        </div>
      </div>

      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="portfolio-holder">
                <div id="filters" class="group-selectors">
                  <a href="#all" data-filter="*" class="active">all</a>
                  <a href="#marketing" data-filter=".marketing">marketing</a>
                  <a href="#streaming" data-filter=".streaming">streaming</a>
                  <a href="#entertainment" data-filter=".entertainment">entertainment</a>
                  <a href="#education" data-filter=".education">education</a>
                </div>

                <div id="portfolio-grid" class="row">
                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work01.jpg">
                      <img alt="Aquipa Partner" src="/assets/portfolio/work01.jpg" />
                    </a>
                    <div class="holder">
                      <div class="paper  has-shadow title">
                        <div class="content">
                          Aquipa Partner
                        </div>
                      </div>

                      <div class="paper  has-shadow category">
                        <div class="content">
                          customer acquisition platform
                        </div>
                      </div>
                    </div>
                  </figure>

                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item streaming entertainment">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work02.jpg">
                      <img alt="Spotify" src="/assets/portfolio/work02.jpg" />
                    </a>
                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          Spotify
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          music streaming service
                        </div>
                      </div>
                    </div>
                  </figure>

                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing entertainment">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work03.jpg">
                      <img alt="Yahoo!" src="/assets/portfolio/work03.jpg" />
                    </a>

                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          yahoo!
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          search engine &amp; web portal
                        </div>
                      </div>
                    </div>
                  </figure>

                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work04.jpg">
                      <img alt="Astrology" src="/assets/portfolio/work04.jpg" />
                    </a>
                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          astrology
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          live astrology services
                        </div>
                      </div>
                    </div>
                  </figure>

                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item streaming entertainment">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work05.jpg">
                      <img alt="Hulu" src="/assets/portfolio/work05.jpg" />
                    </a>
                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          hulu
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          video streaming service
                        </div>
                      </div>
                    </div>
                  </figure>

                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing entertainment">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work06.jpg">
                      <img alt="NBC Universal" src="/assets/portfolio/work06.jpg" />
                    </a>
                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          nbc universal
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          media and entertainment
                        </div>
                      </div>
                    </div>
                  </figure>

                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item education">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work07.jpg">
                      <img alt="English Up" src="/assets/portfolio/work07.jpg" />
                    </a>
                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          English Up
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          live virtual classroom
                        </div>
                      </div>
                    </div>
                  </figure>


                  <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                    <a data-rel="prettyphoto" href="/assets/portfolio/work08.jpg">
                      <img alt="Exit Reality" src="/assets/portfolio/work08.jpg" />
                    </a>

                    <div class="holder">
                      <div class="paper has-shadow title">
                        <div class="content">
                          Exit Reality
                        </div>
                      </div>

                      <div class="paper has-shadow category">
                        <div class="content">
                          virtual reality
                        </div>
                      </div>
                    </div>
                  </figure>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr">

    <!--section id="blog" >
      <div class="sticky-paper-head has-shadow ">
        <div class="content">
          <h1>Blog</h1>
        </div>
      </div>

      <div class="sticky-paper-body has-shadow " >
        <div class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="blog-list-holder row">


                <div class="blog-item item col-xs-12 col-md-6 col-lg-4" >
                  
                  <div class="thumb has-shadow">
                    <div class="date">
                    08 Apr 2014
                  </div> 
                    <img alt="" src="/assets/blog/img01.jpg" />
                  </div>
                  <div class="info-area">

                    <div class="title">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="excerpt">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                      </p>
                    </div>

                    <a class="le-btn" href="single-post.html">Read more</a>
                  </div>


                </div>

                <div class="blog-item item col-xs-12 col-md-6 col-lg-4" >
                 
                  <div class="thumb has-shadow">
                     <div class="date ">
                                             15 Sep 2014
                                        </div>
                    <img alt="" src="/assets/blog/img02.jpg" />
                  </div>
                  <div class="info-area">

                    <div class="title">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="excerpt">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                      </p>
                    </div>

                    <a class="le-btn" href="single-post.html">Read more</a>

                  </div>

                </div>



                <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                  
                  <div class="thumb has-shadow">
                    <div class="date ">
                                             01 July 2014
                                       </div>
                    <img alt="" src="/assets/blog/img03.jpg" />
                  </div>
                  <div class="info-area">

                    <div class="title">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="excerpt">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                      </p>
                    </div>

                    <a class="le-btn" href="single-post.html">Read more</a>

                  </div>

                </div>



                <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                 
                  <div class="thumb has-shadow">
                     <div class="date">
                                            05 June 2014
                                      </div>
                    <img alt="" src="/assets/blog/img04.jpg" />
                  </div>
                  <div class="info-area">

                    <div class="title">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="excerpt">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                      </p>
                    </div>

                    <a class="le-btn" href="single-post.html">Read more</a>
                  </div>


                </div>


                <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                  
                  <div class="thumb has-shadow">
                    <div class="date">
                  
                      25 Nov 2014
                   
                  </div>
                    <img alt="" src="/assets/blog/img05.jpg" />
                  </div>
                  <div class="info-area">

                    <div class="title">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="excerpt">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                      </p>
                    </div>

                    <a class="le-btn" href="single-post.html">Read more</a>

                  </div>

                </div>



                <div class="blog-item item col-xs-12 col-md-6 col-lg-4" >
                 
                  <div class="thumb has-shadow">
                     <div class="date">
                  
                      10 Aug 2014
                  
                  </div>
                    <img alt="" src="/assets/blog/img06.jpg" />
                  </div>
                  <div class="info-area">

                    <div class="title">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="excerpt">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                      </p>
                    </div>

                    <a class="le-btn" href="single-post.html">Read more</a>

                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="le-hr"-->

    <section id="contact">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <h1>contact</h1>
        </div>
      </div>

      <div class="sticky-paper-body has-shadow">
        <div class="content">
          <div class="row row-contact">

            <div class="col-xs-12 col-md-8"> 
              <div class="contact-form-holder">
                <div class="message-box"></div>

                <form id="contact-form" class="contact-form" method="post">
                  <div class="col-xs-12 col-sm-6 no-margin">
                    <div class="control-group">
                      <div class="controls">
                        <input  id="cname" data-placeholder="Your Name*" name="name" size="25" class="le-input required col-xs-12" />
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 no-margin">
                    <div class="control-group">
                      <div class="controls">
                        <input id="cemail" data-placeholder="Your Email*" name="email" class="le-input required email col-xs-12" />
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12  no-margin">
                    <div class="control-group">
                      <div class="controls">
                        <input  id="subject" data-placeholder="Subject" name="subject" size="25" class="le-input col-xs-12" />
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 no-margin">
                    <div class="control-group">
                      <div class="controls">
                        <textarea id="ccomment" class="le-input col-xs-12 no-margin" name="message" rows="9" cols="5" data-placeholder="Message" ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 no-margin">
                    <div class="button-holder">
                      <input class="submit le-btn big" type="submit" value="Send" />
                    </div>
                    <div id="loading" class="pull-right">
                      <img alt="Loading..." src="/assets/loader.gif" />
                    </div>
                  </div>

                </form>

              </div>
            </div>

            <div class="col-xs-12 col-md-4"> 
              <div class="contact-info">

                <!--ul>
                  <li>
                    <label>timezone ➭</label> UTC +1
                  </li>
                  <li>
                    <label>skype ➭</label> <a href="skype:ninoslav.milenovic">ninoslav.milenovic</a>
                  </li>
                  <li style="text-decoration: line-through;">
                    <label>email ➭</label> <a href="mailto:tea@rubyengineer.com">tea@rubyengineer.com</a>
                  </li>
                  <li>
                    <label>email ➭</label> <a href="mailto:coffee@rubyengineer.com">coffee@rubyengineer.com</a>
                  </li>
                </ul-->

                <div class="social-icons">
                  <ul>
                    <li>
                      <a class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=227652081"></a>
                    </li>
                    <li>
                      <a class="fa fa-github" href="https://github.com/pythogorian"></a>
                    </li>
                    <li>
                      <a class="fa fa-twitter" href="https://twitter.com/pythogorian"></a>
                    </li>
                    <li>
                      <a class="fa fa-google-plus" href="https://google.com/+NinoslavMilenović"></a>
                    </li>
                    <li>
                      <a class="fa fa-youtube" href="https://www.youtube.com/user/ninosempire"></a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="sticky-paper-head has-shadow">
        <div class="content">
          <div class="copyright">Copyright © 2014 ★ rubyengineer.com</div>
        </div>
      </div>
    </section>

  </div>
</div>

<a class="goto-top" href="#gotop"></a>
